Nova/node_modules/*
Nova/handler/botconfigs/config.json
Nova/handler/Variables.js
Nova/handler/config.js
Nova/handler/config.json
Nova/handler/status.js
Nova/.env
Nova/package-lock.json
novaapi/node_modules/*
novaapi/package-lock.json
novaapi/assets/config.json
novaapi/assets/.env
novaimgapi/node_modules/*
novaimgapi/package-lock.json
Nova/handler/botconfigs/.env
Nova/handler/botconfigs/config.js
Nova/handler/botconfigs/config.json
.vscode
.vs
database
