Nova/node_modules/*
Nova/config.js
Nova/package-lock.json
novaapi/node_modules/*
novaapi/package-lock.json
novaapi/config.json
novaimgapi/node_modules/*
novaimgapi/package-lock.json
.vscode
.vs
database
